<form ng-submit="$ctrl.saveTime()">
	<div class="form-group">
		<label for="distance">Distance</label>
		<div class="row">
			<div class="col-xs-6">
				<input class="form-control" type="number" id="distance" ng-model="$ctrl.time.distance" />
			</div>
			<div class="col-xs-6 form-control-static">miles</div>
		</div>
	</div>
	<div class="form-group">
		<label for="time">Time</label>
		<div class="row">
			<div class="col-xs-6">
				<input class="form-control" type="number" id="time" ng-model="$ctrl.time.time" />
			</div>
			<div class="col-xs-6 form-control-static">minutes</div>
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" type="submit">Add time</button>
	</div>
</form>